<!DOCTYPE html>
<html>
<head>
    <title>Chat Application</title>
</head>
<body>
    <h1>Chat Application</h1>

    <div id="chat-messages">
        <!-- Chat messages will be displayed here -->
    </div>

    <form id="chat-form">
        <input type="text" id="message-input" placeholder="Enter your message" autofocus>
        <button type="submit">Send</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function() {
            var socket = io();

            $('#chat-form').submit(function() {
                socket.emit('message', $('#message-input').val());
                $('#message-input').val('');
                return false;
            });

            socket.on('message', function(message) {
                $('#chat-messages').append($('<p>').text(message));
            });
        });
    </script>
</body>
</html>
