{% extends "base.html" %}
{% block title %}Musics{% endblock %}
{% block content %}
<div class="containera" style="color: bisque; width: auto;">
    <div class="centermusic">
		<div class="card-layout">Musiqalar</div>
		<div class="container">
			<div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_ey_dost.mp3" data-title="Ey do'st" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play container"><span class="fas fa-play"></span></div>
	<a class="track-desc fx-1 nowrap wajax" href="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_ey_dost.mp3">
		<div class="track-title">Ey do'st.</div>
		<div class="track-subtitle">Jaloliddin Ahmadaliyev</div>
	</a>
        <audio controls id="myAudio" loop preload>
           <source src = data-track type = "audio/mpeg">
           <source src="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_janonim_xitlar.mp3" type="audio/mpeg">
        </audio>
	<div class="track-time">03:59</div>
</div><div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_xavotirman.mp3" data-title="Xavotirman" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play"><span class="fas fa-play"></span></div>
	<a class="track-desc fx-1 nowrap wajax" href="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_xavotirman.mp3">
		<div class="track-title">Xavotirman</div>
		<div class="track-subtitle">Jaloliddin Ahmadaliyev</div>
	</a>
	<div class="track-time">05:19</div>
</div><div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_janonim_xitlar.mp3" data-title="Janonim" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play"><span class="fas fa-play"></span></div>
	<a class="track-desc fx-1 nowrap wajax" href="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_janonim_xitlar.mp3">
		<div class="track-title">Janonim</div>
		<div class="track-subtitle">Jaloliddin Ahmadaliyev</div>
	</a>
	<div class="track-time">03:02</div>
</div><div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_sogindim.mp3" data-title="Sog'indim" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play"><span class="fas fa-play"></span></div>
	<a class="track-desc fx-1 nowrap wajax" href="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_sogindim.mp3">
		<div class="track-title">Sog'indim</div>
		<div class="track-subtitle">Jaloliddin Ahmadaliyev</div>
	</a>
	<div class="track-time">04:02</div>
</div><div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_eh_joralar.mp3" data-title="Eh jo'ralar" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play"><span class="fas fa-play"></span></div>
	<a class="track-desc fx-1 nowrap wajax" href="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_eh_joralar.mp3">
		<div class="track-title">Eh jo'ralar</div>
		<div class="track-subtitle">Jaloliddin Ahmadaliyev</div>
	</a>
	<div class="track-time">03:15</div>
</div><div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_nigoro.mp3" data-title="Nigoro" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play"><span class="fas fa-play"></span></div>
	<a class="track-desc fx-1 nowrap wajax" href="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_nigoro.mp3">
		<div class="track-title">Nigoro</div>
		<div class="track-subtitle">Jaloliddin Ahmadaliyev</div>
	</a>
	<div class="track-time">04:30</div>
</div><div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_men_edim.mp3" data-title="Men edim" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play"><span class="fas fa-play"></span></div>
	<a class="track-desc fx-1 nowrap wajax" href="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_men_edim.mp3">
		<div class="track-title">Men edim</div>
		<div class="track-subtitle">Jaloliddin Ahmadaliyev</div>
	</a>
	<div class="track-time">03:35</div>
</div><div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_onajonim.mp3" data-title="Onajonim" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play"><span class="fas fa-play"></span></div>
	<a class="track-desc fx-1 nowrap wajax" href="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_onajonim.mp3">
		<div class="track-title">Onajonim</div>
		<div class="track-subtitle">Jaloliddin Ahmadaliyev</div>
	</a>
	<div class="track-time">04:42</div>
</div><div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_yurak.mp3" data-title="Yurak" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play"><span class="fas fa-play"></span></div>
	<a class="track-desc fx-1 nowrap wajax" href="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_yurak.mp3">
		<div class="track-title">Yurak</div>
		<div class="track-subtitle">Jaloliddin Ahmadaliyev</div>
	</a>
	<div class="track-time">05:16</div>
</div><div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_yurak_yoq.mp3" data-title="Yurak yo'q" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play"><span class="fas fa-play"></span></div>
	<a class="track-desc fx-1 nowrap wajax" href="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_yurak_yoq.mp3">
		<div class="track-title">Yurak yo'q</div>
		<div class="track-subtitle">Jaloliddin Ahmadaliyev</div>
	</a>
	<div class="track-time">02:44</div>
		</div>
	</div>
</div>
</form>
{% endblock %}