{% extends "base.html" %}
{% block title %}Tax_codes{% endblock %}
{% block content %}
<html>
<style>
table, th, td {
  border:3px solid black;
  padding:5px;
  border-style:outset;
}
th {
  background-color: #04AA6D;
  color: white;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: teal;}
</style>
<form action="#" method="post" action="/penya">
<div class="center card-layout" style="width:auto; position:centered;">
</form>
    <h3>Faylni yuklash</h3>
    <form action="/download" method="POST">
        <label for="filename">Faylni tanlang:</label>
        <select name="filename" id="filename">
            <option value="penya">Penya.xls</option>
            <!-- Add more options as needed -->
        </select>
        <button type="submit" class="button button1">Download</button>
    </form>
<table>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <thead>
    <tr style="color:blue;">
        <th>№</th>
        <th>Kod</th>
        <th>MB Stavkasi</th>
        <th>Koeff.</th>
        <th>Boshlanish vaqti</th>
        <th>Tugash vaqti</th>
    </tr>
    </thead>
    <tbody style="color:white;">
            {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
                <td>{{ record[5] }}</td>
                <!-- Add more columns to display other record fields -->
            </tr>
            {% endfor %}
    </tbody>
</table>
<div>
        {% if page > 1 %}
            <a href="?page={{ page - 1 }}">Oldingi({{ page - 1 }})</a>
        {% endif %}

        {% if page < total_pages %}
            <a style="padding: 20px" href="?page={{ page + 1 }}">Keyingi({{ page + 1 }})</a>
        {% endif %}
    </div>
</div>
</html>
{% endblock %}