<!DOCTYPE html>
<html>
<head>
    <title>Portal Haqida</title>
    </head>
    <body>
        {% extends "base.html" %}
        {% block title %}Portal{% endblock %}
        {% block content %}
        <div  style="background-image: url(/static/abs.webp); height: auto; width: 600px; background-repeat: no-repeat, no-repeat; border: 1px solid rgba(51, 48, 48, 0.205);" class="a" style = "position:relative; left:300px; top:5px;">
        <h1 style="color:rgb(43, 255, 0);">
        <a href="/"><img src="/static/logo-no-background.png" alt="HTML tutorial" style="width:200px;height:200px;"></a>
            <h1 style="color:rgb(43, 255, 0);">Bu sayt HBN_COMPANY</h1>
            <h1 style="color:rgb(43, 255, 0);">tomonidan yaratilmoqda</h1>
            <p><a class="button button1" href="/profile">Profile</a></a> <a class="button button1" href="/">Home</a></p><br>
        </div>
        {% endblock %}
        </h1>
    </body>
</html>