{% extends "base.html" %}
{% block title %}Videolar{% endblock %}
{% block content %}
<div class="containera" style="color: bisque; width: auto;">
    <div class="centermusic">
		<div class="card-layout">Video kliplar</div>
		<div class="container">
		    <table>
            <iframe src="https://www.youtube.com/embed/wT2-QeWj35I" class = "card-layout" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/tWdThUiAq3w" class = "card-layout" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/CSZXNpCJDDQ" class = "card-layout" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/ouytzhjWSSY" class = "card-layout" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/4KKEkVrvYVY" class = "card-layout" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/dqldYHHmiRo" class = "card-layout" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/6ByNvbspX1g" class = "card-layout" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/H4_vRxDyDQc" class = "card-layout" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/2tqC6jrvXUo" class = "card-layout" frameborder="0" allowfullscreen></iframe>
            </table>
			<div class="track-item fx-row fx-middle js-item" data-track="https://xitlar.net/mp3/uzbek_mp3/jaloliddin_ahmadaliyev_-_ey_dost.mp3" data-title="Ey do'st" data-artist="Jaloliddin Ahmadaliyev" data-img="/templates/mp3ocean/dleimages/no_image.jpg">
	<div class="track-play fx-col fx-center anim js-play container"><span class="fas fa-play"></span></div>
	</div>
</form>
{% endblock %}